<div class="details-container">
  <div class="heading">
    <h2>
      {{ movie?.naslov }}
    </h2>
    <div>
      <img [src]="'../../../assets/images/minions.jpg'" alt="{{ movie?.naslov }} Image" />
    </div>
  </div>
  
  <div class="content">
    <p style="margin-left: 2%;"><strong>Actors:</strong> {{ movie?.glumci }}</p>
    <p style="margin-left: 2%;"><strong>Description:</strong> {{ movie?.opis }}</p>
    <p style="margin-left: 2%;"><strong>Director:</strong> {{ movie?.reziser }}<button mat-button style="margin-left: 20px;" (click)="subscribeDirector(movie?.reziser)">
      <mat-icon>notifications</mat-icon>
      Subscribe on {{movie?.reziser}}
    </button> </p>
    <p style="margin-left: 2%;"><strong>Genre:</strong> {{ movie?.zanr }}  <button mat-button style="margin-left: 20px;" (click)="subscribeGenre(movie?.zanr)">
      <mat-icon>notifications</mat-icon>
      Subscribe on {{movie?.zanr}}
    </button>  </p>


    <p *ngIf="averageRating !== undefined" style="margin-top: 2%; margin-left:2%"><strong>Average Rating:</strong> {{ averageRating }}</p>

    <!-- Vaša ocena filma ako postoji -->
    <!-- <p *ngIf="myRating !== undefined"><strong>My Rating:</strong> {{ myRating }}</p> -->

    <!-- <button (click)="goBack()" style=" margin-left: 100%;">
      <mat-icon>arrow_back</mat-icon>
    </button> -->

    <div style="margin-top: 20px; margin-left: 2%;">
      <h3><strong>Rate this Movie</strong></h3>
      <mat-radio-group aria-label="Select an option" [(ngModel)]="rating">
        <mat-radio-button value="1">1</mat-radio-button>
        <mat-radio-button value="2" style="margin-left: 10px;">2</mat-radio-button>
        <mat-radio-button value="3" style="margin-left: 10px;">3</mat-radio-button>
      </mat-radio-group>
      <button mat-button style="margin-left: 20px;" (click)="submitRating()">Submit Rating</button>
    </div>

    <button (click)="play()" class="action-button play-button" style=" margin-left: 70%;margin-top: 20%;">
      <mat-icon>play_arrow</mat-icon> Play Movie
    </button>

    <button *ngIf="!isAdmin()" (click)="download()" class="action-button download-button"  style=" margin-left: 70%">
      <mat-icon>get_app</mat-icon> Download Movie
    </button>
   
    <button *ngIf="isAdmin()" (click)="delete()" class="action-button download-button"  style=" margin-left: 70%; background-color: red;">
      <mat-icon>delete</mat-icon> Delete Movie
    </button>

    <button *ngIf="isAdmin()" (click)="edit()" class="action-button download-button"  style=" margin-left: 70%; background-color: yellowgreen;">
      <mat-icon>get_app</mat-icon> Edit Movie
    </button>

    <form *ngIf="showEditForm" [formGroup]="editMovieForm">
      <div style="text-align: center;">
          <h2 class="register-header">Edit movie</h2>
          <p> 
              <mat-form-field appearance="outline">
                <mat-label>Actors</mat-label>
                <input matInput placeholder="Actors" formControlName="actors">
                <mat-error *ngIf="editMovieForm.get('actors')?.hasError('required')">This field is required</mat-error>
              </mat-form-field>
      
              <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <input matInput placeholder="Description" formControlName="description">
                <mat-error *ngIf="editMovieForm.get('description')?.hasError('required')">This field is required</mat-error>
              </mat-form-field>
      
              <mat-form-field appearance="outline">
                <mat-label>Director</mat-label>
                <input matInput placeholder="Director" formControlName="director">
                <mat-error *ngIf="editMovieForm.get('director')?.hasError('required')">This field is required</mat-error>
              </mat-form-field>
      
              <mat-form-field appearance="outline">
                <mat-label>Genre</mat-label>
                <input matInput placeholder="Genre" formControlName="genre">
                <mat-error *ngIf="editMovieForm.get('genre')?.hasError('required')">This field is required</mat-error>
              </mat-form-field>
    
          <div class="image-table-container">
            <h2>New movie file (optional)</h2>
            
          </div>
          <input type="file" (change)="onFileSelected($event)"/>
      </div>
          
      <button *ngIf="isAdmin()" (click)="confirmEdit()" class="action-button download-button"  style=" margin-left: 70%; background-color: yellowgreen;">
        <mat-icon>get_app</mat-icon> Confirm Edit
      </button>
      </form>
  </div>
</div>


<div class="mat-elevation-z8">
  <table mat-table [dataSource]="actorsDataSource" matSort>


    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element"> {{element}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <button mat-button style="margin-right: 20px;" (click)="subscribeActor(element)">
          <mat-icon>notifications</mat-icon>
          Subscribe
        </button>  
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>

