<h2 class="register-header">Accommodations request review</h2>
<div class="mat-elevation-z8">

    <table mat-table [dataSource]="dataSource" matSort>
      
      <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Request Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
      <!-- <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element"> 
          {{element.name}}
        </td>
      </ng-container>
  
      <ng-container matColumnDef="Type">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.type}}</td>
      </ng-container>
   -->
      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Current status </th>
        <td mat-cell *matCellDef="let element"> 
          {{element.requestStatus}}
          </td>
      </ng-container>
      
      
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button  (click)="openReviewDialog(element)">
            <mat-icon>edit</mat-icon>
          </button>
         
      
          <!-- <button mat-icon-button  >
            <mat-icon>cancel_outline</mat-icon>
          </button> -->
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
</div>


