<form [formGroup]="createAccommodationForm">
<div style="text-align: center;">
    <h2 class="register-header">Registration of new Accommodation</h2>
    <p>
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Accommodation Name" formControlName="name">
          <mat-error *ngIf="createAccommodationForm.get('name')?.hasError('required')">This field is required</mat-error>
        </mat-form-field>
        <h3>Accommodation type : </h3>
        <div class="type-container">
          <mat-radio-group aria-label="Select an option" formControlName="type">
            <mat-radio-button [value]="accommodationTypeEnum.ROOM">ROOM</mat-radio-button>
            <mat-radio-button [value]="accommodationTypeEnum.APARTMENT">APARTMENT</mat-radio-button>
            <mat-radio-button [value]="accommodationTypeEnum.VIP_ROOM">VIP_ROOM</mat-radio-button>
          </mat-radio-group>
        </div>
      
      <div class="data-container">
      <h2 style="margin-bottom: 2%;">Location Data : </h2>
      <div class="location-data-container">
        <mat-form-field appearance="outline">
          <mat-label>Address</mat-label>
          <input matInput placeholder="Address" formControlName="address">
       
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>City</mat-label>
          <input matInput placeholder="City" formControlName="city">
       
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Country</mat-label>
          <input matInput placeholder="Country" formControlName="country">
        </mat-form-field>
      </div>
    
<!-- <div class="location-data-container">
        <mat-form-field appearance="outline">
          <mat-label>X coordinate</mat-label>
          <input matInput placeholder="X coordinate" formControlName="xCoordinate">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Y coordinate</mat-label>
          <input matInput placeholder="Y coordinate" formControlName="yCoordinate">
        </mat-form-field>
      </div>-->
    </div> 
      
      <div class="guests-container">
        <p style="margin-right: 10px;">
          <mat-form-field appearance="outline">
            <mat-label>Min Guests</mat-label>
            <input matInput placeholder="0"  formControlName="minGuests" type="number">
            <mat-error *ngIf="createAccommodationForm.get('minGuests')?.hasError('required')">This field is required</mat-error>
            <mat-error *ngIf="createAccommodationForm.get('minGuests')?.hasError('pattern')">Enter a valid number</mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Max Guests</mat-label>
            <input matInput placeholder="0" formControlName="maxGuests" type="number">
            <mat-error *ngIf="createAccommodationForm.get('maxGuests')?.hasError('required')">This field is required</mat-error>
            <mat-error *ngIf="createAccommodationForm.get('maxGuests')?.hasError('pattern')">Enter a valid number</mat-error>
          </mat-form-field>
        </p>
      </div>
      
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Cancellation Deadline</mat-label>
          <input matInput placeholder="Cancellation Deadline" formControlName="cancellationDeadline" type="number">
          <mat-error *ngIf="createAccommodationForm.get('cancellationDeadline')?.hasError('required')">This field is required</mat-error>
          <mat-error *ngIf="createAccommodationForm.get('cancellationDeadline')?.hasError('pattern')">Enter a valid number</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <input matInput placeholder="Description"  formControlName="description">
          <mat-error *ngIf="createAccommodationForm.get('description')?.hasError('required')">This field is required</mat-error>
        </mat-form-field>
      </p>

      <div class="data-container">
      <h2>Accommodations amenities : </h2>
      <div class="options-container">
        <mat-chip-listbox aria-label="Accommodations amenities" formControlName="amenities"  multiple>
          <mat-chip-option>Free Wi-Fi</mat-chip-option>
          <mat-chip-option>Free Parking</mat-chip-option>
          <mat-chip-option>Air conditioner</mat-chip-option>
          <mat-chip-option>Kitchen</mat-chip-option>
        </mat-chip-listbox>
    </div>
  </div>
  <div class="mat-elevation-z8">
      <h2>Prices and availability intervals</h2>
      <table mat-table [dataSource]="dataSource" matSort>
        
        <ng-container matColumnDef="Id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
    
        <ng-container matColumnDef="Start Date">
          <th mat-header-cell *matHeaderCellDef> Start Date</th>
          <td mat-cell *matCellDef="let element"> 
            {{element.timeSlot.startDate | date: 'shortDate'}}
          </td>
        </ng-container>
    
        <ng-container matColumnDef="End Date">
          <th mat-header-cell *matHeaderCellDef> End Date </th>
          <td mat-cell *matCellDef="let element"> {{element.timeSlot.endDate | date: 'shortDate'}}</td>
        </ng-container>
    
        <ng-container matColumnDef="Price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
          <td mat-cell *matCellDef="let element"> 
            {{element.price}}
            </td>
        </ng-container>
        
        <ng-container matColumnDef="Type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Type </th>
          <td mat-cell *matCellDef="let element">  {{ getTypeString(element.type) }}</td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
      </mat-paginator>
  </div>

    <div class="data-container" style="margin-bottom: 50px;">
    <h2>Select Dates and Price</h2>
    <div class="date-picker-container">
      <mat-form-field>
        <mat-label>Choose a start date</mat-label>
        <input matInput [matDatepicker]="startPicker" formControlName="startDate">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
      </mat-form-field>
    
      <mat-form-field>
        <mat-label>Choose an end date</mat-label>
        <input matInput [matDatepicker]="endPicker" formControlName="endDate">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
      </mat-form-field>
    
      <mat-form-field appearance="outline">
        <mat-label>Price</mat-label>
        <input matInput placeholder="Price for chosen period" formControlName="price">
        <mat-error *ngIf="createAccommodationForm.get('price')?.hasError('required')">This field is required</mat-error>
        <mat-error *ngIf="createAccommodationForm.get('price')?.hasError('pattern')">Enter a valid number</mat-error>
      </mat-form-field>

    </div>

    <div class="type-container">
      <mat-radio-group aria-label="Select an option" formControlName="priceType">
        <mat-radio-button value="0">PERGUEST</mat-radio-button>
        <mat-radio-button value="1">PERUNIT</mat-radio-button>
      </mat-radio-group>
    </div>

    <button mat-button style="background-color: rgb(152, 198, 244);margin-bottom: 2%;" (click)="savePrice()">+ Save Price</button>


    <div class="image-table-container">
      <h2>Accommodation Images</h2>
      <table mat-table [dataSource]="imageDataSource" matSort>
    
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let image"> {{image.name}} </td>
        </ng-container>
    
        <ng-container matColumnDef="Image">
          <th mat-header-cell *matHeaderCellDef> Image </th>
          <td mat-cell *matCellDef="let image"> 
            <img [src]="image.path" alt="Accommodation Image" style="max-width: 100px; max-height: 100px;">
          </td>
        </ng-container>
    
        <ng-container matColumnDef="Actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let image">
            <button mat-icon-button (click)="deleteImage(image)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="imageDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: imageDisplayedColumns;"></tr>
      </table>
    </div>
    </div>
    <div class="button-container">
      <div class="buttons">
      </div>
      <input type="file" (change)="onFileSelected($event)" accept=".jpg, .jpeg, .png" />
      <button mat-button style="background-color: rgb(163, 161, 161);margin-right: 15px;" (click)="addImage()">+ Add image</button>
      </div>
      <button (click)="register()" mat-button style="background-color: #1e88e5; color: white;margin-top: 4%;">Register accommodation</button>
    </div>
</form>
  