*{
  font-size: medium;
}
.register-header {
  color: #007bff; 
  font-size: 24px;
  margin-bottom: 3%;
  margin-top: 5%;
}
.options-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
  }
.guests-container {
display: flex;
justify-content: center;

}
.type-container{
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
    align-items: center;
}

.reservation-confirmation-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
  }

.mat-mdc-radio-button ~ .mat-mdc-radio-button {
margin-left: 16px;
}

.date-picker-container {
  text-align: center;
  width: 70%;
  margin: 0 auto;  
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1%; 
  margin-bottom: 2%;
}

mat-form-field {
  flex: 1; 
}

.location-data-container {
  width: 40%;
  margin: 0 auto;  
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1%; 
  margin-bottom: 2%;
}

.data-container {
  max-width: 70%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

h2,h3{
  color: #007bff; 
}

.mat-elevation-z8{
  margin:auto;
  text-align:center;
  width: 80%;
  margin-top: 2%;
  padding:1%;
  box-shadow: none;
}

