<form [formGroup]="searchAccommodationForm">
  <div class="data-container">
    <h2 class="register-header">Search for a movie</h2>
    <mat-form-field appearance="outline">
      <mat-label>City:</mat-label>
      <input matInput placeholder="Name:" formControlName="city">
      <mat-error *ngIf="searchAccommodationForm.get('city')?.hasError('required')">This field is required</mat-error>
    </mat-form-field>
<!-- 
    <mat-form-field appearance="outline">
      <mat-label>Number of guests</mat-label>
      <input matInput placeholder="How many guests:" formControlName="guests">
      <mat-error *ngIf="searchAccommodationForm.get('guests')?.hasError('required')">This field is required</mat-error>
    </mat-form-field> -->

    

    <button id="searchBtn" (click)="searchAccommodations()" mat-button style="background-color: #1e88e5; color: white;margin-top: 4%;">Search</button>
  </div>
</form>
<div class="card-container">
    <div *ngFor="let accommodation of accommodationList" style="margin-bottom: 2%;margin-top: 1%;">
      <app-accommodation [accommodation]="accommodation"></app-accommodation>
    </div>
  </div>
  
