<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap">
</head>


<div class="div-main">
<div class="image-container">
    <!-- <img src="../../../assets/images/plane_homee.jpg"  alt="Plane Image"> -->
    <!-- <img [src]="imagePaths[currentImageIndex]" alt="Image"> -->
    <img [@fadeInOut]="currentState" [src]="imagePaths[currentImageIndex]" alt="Image">
    <div class="overlay"  [@textColorInOut]="currentState">Time for Movies</div>
</div>
</div>


</html>