<form [formGroup]="editReservationForm">
    <div style="text-align: center;">
        <h2 class="register-header">Edit reservation</h2>
            <mat-form-field appearance="outline">
              <input matInput placeholder="Accommodation Id:" formControlName="accommodationId">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <input matInput placeholder="User Id:" formControlName="userId">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <input matInput placeholder="Number of guests:" formControlName="numberOfGuests">
              </mat-form-field>
              <div class="data-container">
                <h2>Select Dates</h2>
                <div class="date-picker-container">
                  <mat-form-field>
                    <mat-label>Choose a start date</mat-label>
                    <input matInput [matDatepicker]="startPicker" formControlName="startDate">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="startPicker"></mat-datepicker-toggle>
                    <mat-datepicker #startPicker></mat-datepicker>
                  </mat-form-field>
                
                  <mat-form-field>
                    <mat-label>Choose an end date</mat-label>
                    <input matInput [matDatepicker]="endPicker" formControlName="endDate">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="endPicker"></mat-datepicker-toggle>
                    <mat-datepicker #endPicker></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>

              <div class="type-container">
                <mat-radio-group aria-label="Select an option" formControlName="reservationStatus">
                  <mat-radio-button value="APPROVED">APPROVED</mat-radio-button>
                  <mat-radio-button value="REJECTED">REJECTED</mat-radio-button>
                  <mat-radio-button value="PENDING">PENDING</mat-radio-button>
                  <mat-radio-button value="CANCELLED">CANCELLED</mat-radio-button>
                  <mat-radio-button value="INPROCESS">INPROCESS</mat-radio-button>
                </mat-radio-group>
              </div>
        
        <button (click)="saveChanges()" mat-button style="background-color: #1e88e5; color: white;margin-top: 4%;">Edit reservation</button>
    </div>
</form>
