<mat-card class="custom-card">
  <mat-card-content    (click)="showMovieContent()">
    <h2>{{movie.naslov}}</h2>
    <div class="imagee">
      <!-- Show the first image if available -->
      <img src="../../../assets/images/movie.jpeg" alt="Default Image" class="movie-image">
    </div>
    <p class="movie-description">Description: {{movie.opis}}</p>
    <p class="movie-director">Director: {{movie.reziser}}</p>
    <p class="movie-actors">Actors: {{movie.glumci}}</p>
    
    <br>
    <button [routerLink]="['/accommodations', movie.id_filma]">Show details</button>
  </mat-card-content>
</mat-card>
  