<footer>
    <div class="footer-content">
      <div class="footer-section">
        <h3>About Us</h3>
        <p>TimeForTravel.com is your ultimate travel companion, providing the best deals and experiences around the globe. Explore, book, and enjoy your journey with us.</p>
      </div>
      <div class="footer-section">
        <h3 style="display: inline-block; margin-right: 10px;">Quick Links:</h3>
        <li style="display: inline-block;"><a href="" style="color: white;">Contact Us</a></li>
      </div>
      
      <div class="footer-section">
        <h3>Follow Us</h3>
        <div class="social-icons">
           
          </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; Copyright © 2023 TimeForTravel.com™. All rights reserved.</p>
    </div>
</footer>
  
  